<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <section>
    <h1 class='text-center mt-5'>Dogs!</h1>
    <div class="row">
      <div class="col text-center">
        <% if (user) { %>
          <a href="/dogs/new">Add Dog</a> 
        <% } %> 
      </div> 
    </div>
	  <ul>
    <% dogs.forEach(dog => { %>
      <li>🐕<%= dog.name %></li>
      <li><%= dog.approach %></li>
      <div><%= dog.name %> is <%= dog.leash ? 'leashed! 🦮' : 'off leash! 🎉'%></div>
      <li><%= dog.location %></li>
      <% if (dog.lost === true) { %>
        <div>This dog is <%= dog.lost ? 'lost! 🥺' : 'found! 🎉'%></div>
        <li><%= dog.command %></li>
      <% } %>
      <a href="/dogs/<%= dog._id %>">View Profile</a>
    <% }) %>
    </ul>
  </section>
</div>

<%- include('../partials/footer') %>