<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <section>
    <div><%= dog.name %></div>
    <div>Approachability: </div>
    <div><%= dog.approach %></div>
    <div>This dog is <%= dog.lost ? 'lost! 🥺' : 'found! 🎉'%></div>
    <% if (user) { %>
      <form 
        action="/dogs/<%= dog._id %>/flip-lost?_method=PATCH"
        method="POST"
      >
        <button class="btn" type="submit">
          Dog is <%= dog.lost ? "lost 🥺" : "found 🎉" %> 
        </button>
      </form>
    <% } %>
    <% if (dog.owner.equals(user?.profile._id)) { %>
      <form action="/dogs/<%= dog._id %>/edit" method="GET">
        <button class="btn" type="submit">Edit this Dog Post🚧</button>
      </form>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>