<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="text-center" id="show-title"><%= title %></h1>
    </div>
  </div>
  <section>
    <div><%= dog.name %></div>
    <div>Approachability: </div>
    <div><%= dog.approach %></div>
    <div>This dog is <%= dog.leash ? 'leashed! 🦮' : 'off leash! 🎉'%></div>
    <div>Location: </div>
    <div><%= dog.location %></div>
    <div>Owner: <%= dog.owner.name %> </div>
    <% if (dog.lost === true) { %>
      <div>This dog is <%= dog.lost ? 'lost! 🥺' : 'found! 🎉'%></div>
      <li><%= dog.command %></li>
    <% } %>
    <% if (dog.owner.equals(user?.profile._id)) { %>
      <form 
        action="/dogs/<%= dog._id %>/flip-lost?_method=PATCH"
        method="POST"
      >
        <button class="btn" type="submit">
          Dog is <%= dog.lost ? "lost 🥺" : "found 🎉" %> 
        </button>
      </form>
      <form action="/dogs/<%= dog._id %>/edit" method="GET">
        <button class="btn" type="submit">Edit this Dog Post🚧</button>
      </form>
      <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
      <button class='btn' type='submit'>Delete dog post 👋</button>
      </form>
    <% } %>
    <h2>Comments</h2>
    <% if (user) { %>
      <form 
        action="/dogs/<%= dog._id %>/comments"
        id="add-comment-form"
        method="post"
      >
        <textarea name="text" id="comment-textarea"></textarea>
        <button type="submit">Add Comment</button>  
    </form>
    <% } %>
  </section>
  <% if (dog.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Comment</th>
          <th>Date</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <% dog.comments.forEach(function(comment) { %>
          <tr>
            <td><%= comment.text %></td>
            <td><%= comment.createdAt.toLocaleDateString() %></td>
            <td><%= comment.author.name %></td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No comments Yet</h3>
  <% } %>   
</div>

<%- include('../partials/footer') %>