<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <section>
    <div><%= dog.name %></div>
    <div>Approachability: </div>
    <div><%= dog.approach %></div>
  </section>
</main>

<%- include('../partials/footer') %>