<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <section>
    <div><%= dog.name %></div>
    <div>Approachability: </div>
    <div><%= dog.approach %></div>
    <div>This dog is <%= dog.lost ? 'lost! 🥺' : 'found! 🎉'%></div>
    <% if (user) { %>
      <form 
        action="/dogs/<%= dog._id %>/flip-lost?_method=PATCH"
        method="POST"
      >
        <button class="btn" type="submit">
          Dog is <%= dog.lost ? "lost 🥺" : "found 🎉" %> 
        </button>
      </form>
    <% } %>
    <% if (dog.owner.equals(user?.profile._id)) { %>
      <form action="/dogs/<%= dog._id %>/edit" method="GET">
        <button class="btn" type="submit">Edit this Dog Post🚧</button>
      </form>
      <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
      <button class='btn' type='submit'>Delete dog post 👋</button>
      </form>
    <% } %>
    <h2>Comments</h2>
    <% if (user) { %>
      <form 
        action="/dogs/<%= dog._id %>/comments"
        id="add-comment-form"
        method="post"
      >
        <label for="text-textarea">Comment:</label>
        <textarea name="text" id="comment-textarea"></textarea>
        <button type="submit">Add Comment</button>  
    </form>
    <% } %>
  </section>
  <% if (dog.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>comment</th>
        </tr>
      </thead>
      <tbody>
        <% dog.comments.forEach(function(comment) { %>
          <tr>
            <td><%= comment.text %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No comments Yet</h3>
  <% } %> 
</main>

<%- include('../partials/footer') %>