<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h1 class=><%= title %></h1>
    </div>
  </div>
  <br>
    <div class="row">
      <div class="col">
        <div class="'jumbotron text-center mt-5">
          <h2 class="font-weight-bold"><%= dog.name %></h2>
          <hr>
          <div><%= dog.approach %></div>
          <div><%= dog.name %> is <%= dog.leash ? 'leashed! 🦮' : 'off leash! 🎉'%></div>
          <div>Location: </div>
          <div><%= dog.location %></div>
          <div>Owner: <%= dog.owner.name %> </div>
          <% if (dog.lost === true) { %>
            <div>This dog is <%= dog.lost ? 'lost! 🥺' : 'found! 🎉'%></div>
          <div>Known Command/s: <%= dog.command %></div>
          <% } %>
        </div>
      </div>
    </div>
    <% if (dog.owner.equals(user?.profile._id)) { %>
      <div class="row">
        <div class="col">
          <span class="text-center">
            <form 
              action="/dogs/<%= dog._id %>/flip-lost?_method=PATCH"
              method="POST"
            >
              <button class="btn" type="submit">
                Dog is <%= dog.lost ? "found 🎉" : "lost 🥺" %> 
              </button>
            </form>
            <form action="/dogs/<%= dog._id %>/edit" method="GET">
              <button class="btn" type="submit">Edit this Dog Post🚧</button>
            </form>
            <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
              <button class='btn' type='submit'>Delete dog post 👋</button>
            </form>
          </span>
        </div>
      </div>
    <% } %>
        
    <h2>Comments</h2>
    <% if (user) { %>
      <form 
        action="/dogs/<%= dog._id %>/comments"
        id="add-comment-form"
        method="post"
      >
        <textarea name="text" id="comment-textarea"></textarea>
        <button type="submit">Add Comment</button>  
    </form>
    <% } %>
  
  <% if (dog.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Comment</th>
          <th>Date</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <% dog.comments.forEach(function(comment) { %>
          <tr>
            <td><%= comment.text %></td>
            <td><%= comment.createdAt.toLocaleDateString() %></td>
            <td><%= comment.author.name %></td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No comments Yet</h3>
  <% } %>   
</div>

<%- include('../partials/footer') %>